{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="display-4 text-primary">메인 페이지</h1>
    <a href="{% url 'boards:create' %}">
      <button class="btn btn-lg btn-success">생성하기</button>
    </a>
  </div>
  
  {% if boards|length == 0 %}
    <div class="alert alert-warning" role="alert">
      아직 게시글이 없습니다
    </div>
  {% else %}
    <div class="row">
      {% for board in boards %}
      <div class="col-md-4 mb-4">
        <div class="card border-primary shadow-sm">
          <div class="card-body">
            <h5 class="card-title">글제목: 
              <a href="{% url 'boards:detail' board.id %}" style="text-decoration: none;" class="text-primary">{{ board.title }}</a>
            </h5>
            <p class="card-text">글번호: {{ board.id }}</p>
            <p class="card-text">작성자: 
              <a href="{% url "accounts:profile" board.author.username %}" class="text-info">{{ board.author }}</a>
            </p>
            <p class="card-text">좋아요: {{ board.like_users.count }}</p>
            <form action="{% url "boards:likes" board.pk %}" method="post" class="mt-3">
              {% csrf_token %}
              {% if request.user in board.like_users.all %}
                <input type="submit" value="좋아요 취소" class="btn btn-danger">
              {% else %} 
                <input type="submit" value="좋아요" class="btn btn-primary">
              {% endif %}
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock content %}